*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  height: 100vh;
  background: linear-gradient(to right, #00aaff, #2600ffa8);

  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-grid {
  width: 40%;
  margin: auto;
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator-grid > div:nth-of-type(2) {
  flex: 1;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.calculator-grid > button {
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.75);

  height: 2rem;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.output {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;

  flex: 0 0 auto;
  height: 12rem;

  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  font-size: 2.5rem;
  background: transparent;

  flex: 0 0 auto;
  height: 4rem;
}

.answer {
  color: #fff;
  font-size: 1.5rem;

  width: 100%;
  padding: 0.5rem;
  text-align: right;
}

/* Button placement */
button:nth-of-type(4),
button:nth-of-type(7),
button:nth-of-type(10) {
  grid-column: 1 / 2;
}

button:nth-of-type(12) {
  grid-row: 1/2;
  grid-column: 4 / 5;
}

button:nth-of-type(13) {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

button:nth-of-type(14) {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

button:nth-of-type(15) {
  grid-column: 5/6;
  grid-row: 2 / 3;
}

button:nth-of-type(16) {
  grid-column: 4 /6;
  grid-row: 6 / 7;
}

button:nth-of-type(17) {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}

button:nth-of-type(18) {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

button:nth-of-type(28) {
  grid-column: 2 / 4;
  grid-row: 6 / 7;
}
